@import "tailwindcss";

@theme {
    --color-background: #131313;
    --color-background-select-nav: #FFD70222;
    --color-primary: #FFD704;
    --color-primary-hover: #FFC107;
    --color-background-secondary: #1A1A1A;
    --color-text: #cccccc;
    --color-text-secondary: #FFD704;
    --color-border: #66666666;
    --color-text-button: #1A1A1A;
    --color-background-input: #222222;
    --color-shadow: #222222;
    --color-sucess: #4CAF50;
    --color-warning: #FF9800;
    --color-danger: #F44336;
}
